/**
 * Toast
 */

.toast {
  align-items: center;
  background: var(--success);
  color: #fff;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  height: 60px;
  left: 40%;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
}

@media screen and (max-width: 768px) {
  .toast {
    left: 0;
  }
}
