/**
 * Input
 */

.input {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: calc(var(--gutter) * 2) 0;
  min-width: 0;
}

/* Only add margin if input is first-child and not last-child */
.input:first-child:not(:last-child) {
  margin-right: calc(var(--gutter) * 1.5);
}

/* Only add margin if input is last-child and not fisrt-child */
.input:last-child:not(:first-child) {
  margin-left: calc(var(--gutter) * 1.5);
}

.input__label {
  font-size: 1.4em;
  font-weight: normal;
  font-stretch: normal;
  margin: 0 0 var(--gutter);
}

.input__control {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  display: flex;
  font-size: 1.6rem;
}

.input__control--error {
  border-color: var(--error);
}

.input__control__content {
  border: none;
  color: var(--input);
  flex: 1;
  font-size: 1.6rem;
  min-width: 0;
  padding: calc(var(--gutter) * 2);
}

.input__control__icon {
  padding: calc(var(--gutter) * 2);
}

.input__message {
  font-size: 1.4em;
  margin: var(--gutter) 0 0;
  padding: 0 var(--gutter);
}

.input__message--error {
  color: var(--error);
}
