/**
 * Toggle
 */

.toggle {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-right: var(--gutter);
  min-width: 24px;
  position: relative;
  text-align: center;
  width: 24px;
}

.toggle > input {
  appearance: none;
  bottom: 0;
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.toggle--active {
  background: var(--link);
  border-color: var(--link);
}
