/**
 * Button
 */

.button {
  background: var(--link);
  border: none;
  border-radius: var(--radius);
  color: var(--background);
  cursor: pointer;
  font-size: 1.6em;
  font-weight: bold;
  padding: calc(var(--gutter) * 2) calc(var(--gutter) * 4);
}

.button__icon {
  margin-right: var(--gutter);
}