/**
 * Global styles
 */

/**
 * Theming
 */

:root {
  /* Colors */
  --background: #ffffff;
  --border: #e6e6e6;
  --default-text: #8f8f8f;
  --error: #ff5863;
  --heading: #333333;
  --hero: #ffffff;
  --input: #333333;
  --link: #4c8afe;
  --placeholder: #cccccc;
  --success: #2ecc71;

  /* Sizing */
  --radius: 3px;
  --gutter: 8px;
  --negative-gutter: -8px;

  /* Screens */
  --media-mobile: 768px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--default-text);
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco",
    "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 10px;
}

html,
body,
#app,
.bcredi {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  padding: 0;
  width: 100%;
}
